<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <table>
     <tr>
       <th>Documento</th>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>Email</th>
         <th>Celular</th>


     </tr>



     <tr th:each="i:${clientes}">
         <td th:text="${i.documento}">Documento</td>
         <td th:text="${i.nombre}">Nombre</td>
         <td th:text="${i.apellido}">Apellido</td>
         <td th:text="${i.correo}">Email</td>
         <td th:text="${i.celular}">Celular</td>
         <th ><a th:href="@{'/clientes/actualizar'+'/'+ ${i.documento}}">Editar</a></th>
         <th ><a th:href="@{'/cliente/eliminar'+'/'+ ${i.documento}}">Eliminar</a></th>


     </tr>


 </table>

</body>
</html>